WebRoot/wsdl/VODNoticeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:7001/vodnoticews/services/VODNoticeService" xmlns:intf="http://localhost:7001/vodnoticews/services/VODNoticeService" xmlns:tns1="urn:VODNoticeService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:7001/vodnoticews/services/VODNoticeService">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:VODNoticeService">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ParaOut">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="success" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="programDeleteNoticeResponse">

      <wsdl:part name="programDeleteNoticeReturn" type="tns1:ParaOut"/>

   </wsdl:message>

   <wsdl:message name="downloadFinishNoticeResponse">

      <wsdl:part name="downloadFinishNoticeReturn" type="tns1:ParaOut"/>

   </wsdl:message>

   <wsdl:message name="programDeleteNoticeRequest">

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="downloadFinishNoticeRequest">

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="VODNoticeService">

      <wsdl:operation name="downloadFinishNotice" parameterOrder="id">

         <wsdl:input message="impl:downloadFinishNoticeRequest" name="downloadFinishNoticeRequest"/>

         <wsdl:output message="impl:downloadFinishNoticeResponse" name="downloadFinishNoticeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="programDeleteNotice" parameterOrder="id">

         <wsdl:input message="impl:programDeleteNoticeRequest" name="programDeleteNoticeRequest"/>

         <wsdl:output message="impl:programDeleteNoticeResponse" name="programDeleteNoticeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="VODNoticeServiceSoapBinding" type="impl:VODNoticeService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="downloadFinishNotice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="downloadFinishNoticeRequest">

            <wsdlsoap:body namespace="http://service.chargews.dmam.dayang.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="downloadFinishNoticeResponse">

            <wsdlsoap:body namespace="http://localhost:7001/vodnoticews/services/VODNoticeService" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="programDeleteNotice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="programDeleteNoticeRequest">

            <wsdlsoap:body namespace="http://service.chargews.dmam.dayang.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="programDeleteNoticeResponse">

            <wsdlsoap:body namespace="http://localhost:7001/vodnoticews/services/VODNoticeService" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="VODNoticeServiceService">

      <wsdl:port binding="impl:VODNoticeServiceSoapBinding" name="VODNoticeService">

         <wsdlsoap:address location="http://localhost:8080/cqvod/services/VODNoticeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
